<div class="container">
    <h2>User Management</h2>
    <form [formGroup]="userForm" (ngSubmit)="addUser()" autocomplete="off">
        <label for="id">Id:</label>
        <input id="id" formControlName="id" type="text" required autocomplete="off" />
        
        <label for="username">Username:</label>
        <input id="username" formControlName="username" type="text" required autocomplete="off" />
      
        <label for="password">Password:</label>
        <input id="password" formControlName="password" type="password" required autocomplete="new-password"/>
      
        <label for="role">Role:</label>
        <select id="role" formControlName="role">
            <option value="admin">Admin</option>
            <option value="user">User</option>
            <option value="student">Student</option>
            <option value="teacher">Teacher</option>
        </select>
      
        <button type="submit">Add User</button>
    </form>
</div>

<div class="users-list">
    <h3>Users List</h3>
    <!-- User List Table -->
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Role</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.id }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.role }}</td>
        <td>
          <button class="delete-btn" (click)="deleteUser(user.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>



